{% extends  'news/base_generic.html' %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Удаление новости {% endblock title %}



{% block content %}

    <div class="container-fluid">
         <div class="text-center">
             <h1>Удаление новости {{article.title}}</h1>


             <form method="post" class="contact_form">
                {% csrf_token %}
                 <a class="btn btn-warnings" href="{% url 'news_app:news_list'%}">Отмена</a>
                <input type="submit" class="btn btn-danger" value="Удалить новость">
            </form>

         </div>


    </div>

{% endblock %}
