{% extends  'news/base_generic.html' %}

{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}
{% load widget_tweaks %}
{% load sorting_tags %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block title %} Мои статьи {{ article.id }} {% endblock title %}

{% block content %}



<div class="col-md-3 ml-2">
   <h1>Мои статьи</h1>
</div>



<!-- Фильтры для поиска  -->
<div class="container-fluid">
    <div class="col-md-3">
        <div class="container">
            <a class="text-dark text-sm mb-1" href="{% url 'news_app:news_list' %}">x Очистить фильтры</a>
            <form action="" method="get">
                <div style="display: grid;">
                    <!-- widget_tweaks -->
                     {% for field in filter.form %}
                     <div id="form-field-{{ forloop.counter0 }}">

                        {% if field.label != "Авторы" %}

                        {{ field.label_tag }} {% render_field field class="form-control" %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mb-3 mt-2">Найти</button>
            </form>
        </div>
        <br />
    </div>
</div>






{% render_table table %}




{% endblock content%}








