
body {
background-color: #ffffff14;

  position: relative;
  margin: 0;
  padding-bottom: 55px;
  box-sizing: border-box;

}



.contact_form {
float: left;
margin: 40px 30%;
width: 40%;
}


footer {position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.navbar .active
{color: black !important;
font-family:Georgia !important;
font-size: 30px !important;

}



.navbar .navbar-brand
{
border-bottom:2px solid #f00;
margin-left : 15px;
padding: 21.5px;
}


.navbar .my_bar {
font-size: 30px !important;
color: green !important;
}


/* стиль для страницы аккаунта */
.login_info{
text-align: center;
margin-top: 5%;
}

/* стиль для изображения на странице аккаунта */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Черный текст для ошибки валидации */
.invalid-feedback {
    color: black;
}

.carousel-inner > .carousel-item > img {
   width:640px;
   height:460px;
 }



